# macOS
.DS_Store

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.env
.venv
env/
venv/
ENV/
*.egg-info/
dist/
build/
.eggs/

# VS Code
.vscode/

# Logs
*.log

# Docker
*.pid
*.seed
*.pid.lock

# System
Thumbs.db